name: CD

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: cicdprojectregistry.azurecr.io
  IMAGE_NAME: flask-app
  WEBAPP_NAME: cicdproject

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to ACR
    - uses: azure/docker-login@v2
      with:
        login-server: ${{ env.REGISTRY }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build & push container
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

# The web app is configured to automatically pull the latest image
